<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174077322-1"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'UA-174077322-1');
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<meta property="og:title" content="Mathisi-fy" />
        <meta property="og:image" content="/static/images/mlogo4.png" />
        <link rel="shortcut icon" href="/static/images/whitefav.png">
        <!-- Start of Async Drift Code -->
    <script>
    "use strict";

    !function() {
     var t = window.driftt = window.drift = window.driftt || [];
    if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) {
         return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
        };
        }, t.methods.forEach(function(e) {
         t[e] = t.factory(e);
     }), t.load = function(t) {
        var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
         o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
        var i = document.getElementsByTagName("script")[0];
         i.parentNode.insertBefore(o, i);
        };
     }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('c7yv5hz6yckb');
    </script>
    <!-- End of Async Drift Code -->
	</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="/">Mathisi-fy</a></h1>
        <nav class="links">
            <ul>
                <li><a href="/chapterzero/">Chapter 0</a></li>
                <li><a href="/about/">About Us</a></li>
                <li>
                    {% if user.is_authenticated %}
                        <h3>Hello, {{ user.first_name }}</h3>
                        {% else %}
                    {% endif %}
                </li>
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <li>
                    <ul class="actions stacked">
                        {% if user.is_authenticated %}
                            <li><a href="/accounts/logout/" class="button large fit">Log Out</a></li>
                        {% else %}
                            <li><a href="/accounts/login/" class="button large fit">Log In</a></li>
                            <li><a href="/accounts/register/" class="button large fit">Register</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="search">
                    <a class="fa-search" href="#search">Search</a>
                    <form id="search" method="GET" action="/search/">
                        <input id="query" type="text" name="query" placeholder="Search"/>
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <section id="menu">

        <!-- Search -->

        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="/chapterzero/">
                        <h3>Chapter 0</h3>
                        <p>Computer Science Principles</p>
                    </a>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        <section>


            <ul class="actions stacked">
                {% if user.is_authenticated %}
                    <li><a href="/accounts/logout/" class="button large fit">Log Out</a></li>
                {% else %}
                    <li><a href="/accounts/login/" class="button large fit">Log In</a></li>
                    <li><a href="/accounts/register/" class="button large fit">Register</a></li>
                {% endif %}
            </ul>
        </section>

    </section>
{% block content %}
{% endblock %}
</div>

</body>
</html>
