<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <title>Mathisi-fy</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" href="/static/images/mfavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://drive.google.com/uc?id=161HVNPVr3br81SZuHyP2ZXNmkYTOVLkM"/>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="/">Mathisi-fy</a></h1>
        <nav class="links">
            <ul>
                <li><a href="/chapterzero/">Chapter 0</a></li>
                <li><a href="/chapterone/">Chapter 1</a></li>
                <li><a href="/about/">About Us</a></li>
                <li>
                    {% if user.is_authenticated %}
                        <h3>Hello, {{ user.first_name }}</h3>
                        {% else %}
                    {% endif %}
                </li>
            </ul>
        </nav>
        <nav class="main">

            <ul>
                
                <li class="search">
                    <a class="fa-search" href="#menu">Search</a>
                    <form id="search" method="GET" action="/search/">
                        <input id="query" type="text" name="query" placeholder="Search"/>
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <section id="menu">

        <!-- Search -->
        <section>
            
            <form id="search" method="GET" action="/search/">
                <input id="query" type="text" name="query" placeholder="Search"/>
                <button class="fa fa-search" type="submit"></button>
            
        </section>

        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="/chapterzero/">
                        <h3>Chapter 0</h3>
                        <p>Computer Science Principles</p>
                    </a>
                </li>
            </ul>
            <ul class="links">
                <li>
                    <a href="/chapterone/">
                        <h3>Chapter 1</h3>
                        <p>Scratch Fundementals</p>
                    </a>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        <section>


            <ul class="actions stacked">
                {% if user.is_authenticated %}
                    <li><a href="/accounts/logout/" class="button large fit">Log Out</a></li>
                {% else %}
                    <li><a href="/accounts/login/" class="button large fit">Log In</a></li>
                    <li><a href="/accounts/register/" class="button large fit">Register</a></li>
                {% endif %}
            </ul>
        </section>

    </section>
{% block content %}
{% endblock %}
</div>

</body>
</html>
