<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
	<head>
		<title>Mathisi-fy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">



				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="/compandint/">Computers and the Internet</a></h2>
										<p>Chapter 0 : Computer Science Principles</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">July 22nd, 2020</time>
										<a href="https://dylaniskandar.com" class="author"><span class="name">Dylan Iskandar</span><img src="/static/images/avatardylan.png" alt="" /></a>
									</div>
								</header>
								<a href="/welcometoscratch/" class="image featured"><img src="/static/images/pic01.jpg" alt="" /></a>
								<p>(insert article here)</p>
								<footer>
									<ul class="actions">
										<li><a href="/welcometoscratch/" class="button large">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="/chapterzero/">Computer Science Principles</a></li>
										<li><a href="#" class="icon solid fa-eye">109.3k</a></li>
									</ul>
								</footer>
							</article>

					

						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button large previous">Previous Page</a></li>
								<li><a href="#" class="button large next">Next Page</a></li>
							</ul>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="/" class="logo"><img src="/static/images/Mlogo.jpg" alt="" /></a>
								<header>
									<h2>Mathisi-fy</h2>
									<p>empowering students around the world with knowledge</p>
								</header>
							</section>

						<!-- Mini Posts -->
							

						<!-- About -->
							<section class="blurb">
								<h2>Chapter 0 : </h2>
                                <h2>Computer Science Principles/h2>
                                <p>In this chapter we will be learning about the principles of computer science and the internet.</p>
                                <p><a href="/compandint/"> - Computers and the Internet</a></p>
							</section>

						<!-- Footer -->
						<section>
							<ul class="icons"></ul>
								<a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p class="copyright">&copy; 2020 Mathisi-fy. </p>
						</section>

					</section>

			</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>

{% endblock %}
