<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
	<head>
		<title>Mathisi-fy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">



				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="/compandint/">Computers and the Internet</a></h2>
										<p>Chapter 0 : Computer Science Principles</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">July 22nd, 2020</time>
										<a href="https://dylaniskandar.com" class="author"><span class="name">Dylan Iskandar</span><img src="/static/images/avatardylan.png" alt="" /></a>
									</div>
								</header>
								<a href="/compandint/" class="image featured"><img src="/static/images/pic01.jpg" alt="" /></a>
								<p style="text-indent: 40px">If you're reading this article, you're on a computer and probably on the Internet. But what exactly defines the words "computer" and "the Internet"? 
									Many of us use these tools in our everyday life, but overlook the meaning of what they actually are and their intended purpose. </p>
									<p><b>So, what exactly is a computer?</b></p>
									<p style="text-indent: 40px">A "computer" doesn't always mean the large industrial machines that you see in movies, or the portable "laptop" computer that your parents use for work.
										Computers are just machines that take in data (as input), stores and processes the data, and displays data (as output).
										Under this definition, your phones and tablets are computers because they take in the data that this website is displaying to them,
										store the data, process it in a way that you can understand (letters and words), and displays the output data (which is the article you are reading right now).</p>
									<p>We will be discussing the different ways computers input,  store and process data, and output throughout the rest of the <a href="/chapterzero/">chapter</a>.</p>
									<p><b>And this "internet" thing you mentioned?</b></p>
									<p>The Internet is the network of <i>billions</i> of different computers around the world. 
										When you are going "online" (connecting to the Internet), you have the ability to almost instantaneously communicate with anyone in the world,
										access thousands of online databases, stream movies and more. The opportunities are endless.
										The computers that form the Internet communicate with each other in *bits and bytes* , a "language" optimized for such machines.</p>
										<p><b>Isn't that just the "Web"?</b></p>
										<p>Many people confuse the "Internet" with the "Web", yet they are two very different tools. The "Web" is a collection of "websites"
											which are found on the Internet. Think about it like the ice cream section at a market. There are different flavors of ice cream in the ice cream section, which can be found in the market itself.
											 Like the many different flavors of ice cream, there are a wide variety of websites on the Internet.
											There are websites to stream movies, websites to play video games, and educational websites like Mathisi-fy :).
											Once you find a website that you want to visit, you can access it through a web browser such as Google Chrome, Firefox or Mozilla.
											The browser pulls the website data from the Internet and displays it on your screen.</p>
								<footer>
									
									<ul class="stats">
										<li><a href="/chapterzero/">Computer Science Principles</a></li>
										<li><a class="icon solid fa-eye">109.3k</a></li>
									</ul>
								</footer>
							</article>

					

						<!-- Pagination -->
							

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="/" class="logo"><img src="/static/images/mlogo4.png" alt="" /></a>
								<header>
									<h2>Mathisi-fy</h2>
									<p>empowering students around the world with knowledge</p>
								</header>
							</section>

						<!-- Mini Posts -->
						

						<!-- About -->
							<section class="blurb">
								<h2>Chapter 0 : </h2>
                                <h2>Computer Science Principles </h2>
                                <p>In this chapter we will be learning about the principles of computer science and the internet.</p>
                                
							</section>

						<!-- Footer -->
						<section>
							<article class="mini-post">
								<header>
									<h3><a href="/compandint/">Computers and the Internet</a></h3>
									<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
									<a href="https://dylaniskandar.com" class="author"><img src="/static/images/avatardylan.png" alt="" /></a>
								</header>
								<a href="/compandint/" class="image"><img src="/static/images/pic04.jpg" alt="" /></a>
							</article>
							<ul class="icons"></ul>
								<a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p class="copyright">&copy; 2020 Mathisi-fy. </p>
						</section>

					</section>

			</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>

{% endblock %}
