<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174077322-1"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'UA-174077322-1');
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="Free online computer science courses! Learn about HTML/CSS, Python, machine learning and more!" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<meta name="title" content="Mathisi-fy" />
  		<meta property="og:title" content="Mathisi-fy" />
		<meta property="og:image" content="/static/images/mlogo4.png" />
		<meta property="og:description" content="Free online computer science courses! Learn about HTML/CSS, Python, machine learning and more!" />
		<meta property="og:url" content="https://mathisify.org" />
		<meta property="og:site_name" content="Mathisi-fy" />
		 <!-- Start of Async Drift Code -->
		 <script>
			"use strict";
		
			!function() {
			 var t = window.driftt = window.drift = window.driftt || [];
			if (!t.init) {
				if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
				t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
				t.factory = function(e) {
				 return function() {
					var n = Array.prototype.slice.call(arguments);
					return n.unshift(e), t.push(n), t;
				};
				}, t.methods.forEach(function(e) {
				 t[e] = t.factory(e);
			 }), t.load = function(t) {
				var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
				 o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
				var i = document.getElementsByTagName("script")[0];
				 i.parentNode.insertBefore(o, i);
				};
			 }
			}();
			drift.SNIPPET_VERSION = '0.3.1';
			drift.load('c7yv5hz6yckb');
			</script>
			<!-- End of Async Drift Code -->
	</head>
	
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- Post -->
						
						
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2><a href="/compandint/">Computers and the Internet</a></h2>
                                    <p><a href="/chapterzero/">Chapter 0 : Computer Science Principles</a></p>
                                </div>
                                <div class="meta">
                                    <time class="published" datetime="2015-11-01">July 28nd, 2020</time>
                                    <a href="https://dylaniskandar.com" class="author"><span class="name">Dylan Iskandar</span><img src="/static/images/avatardylan.png" alt="" /></a>
                                </div>
                            </header>
                            <a href="/compandint/" class="image featured"><img src="/static/images/compandint70.png" alt="" /></a>
                            <p style="text-indent: 40px">If you're reading this article, you're on a computer and on the Internet. But what exactly defines the words "computer" and "the Internet"? 
                                Many of us use these tools in our everyday life, but overlook the meaning of what they actually are and their intended purpose. </p>
                            <footer>
                                <ul class="actions">
                                    <li><a href="/compandint/" class="button large">Continue Reading</a></li>
                                </ul>
                                <ul class="stats">
                                    <li><a href="/chapterzero/">Computer Science Principles</a></li>
                                    {% for views in views %}
                                    <li><a href="#" class="icon solid fa-eye">{{views.compandint}}</a></li>
                                    {% endfor %}
                                </ul>
                            </footer>
                        </article>
						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="/" class="button large previous">Previous Page</a></li>
								<li><a href="#" class="disabled button large next">Next Page</a></li>
							</ul>
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="/static/images/mlogo4.png" alt="" /></a>
								<header>
									<h2>Mathisi-fy</h2>
									<p>Empowering underrepresentated students with a computer science education</p>
								</header>
							</section>

						<!-- Mini Posts -->
						<section>
							<div class="mini-posts">

								<!-- Mini Post -->
								<article class="mini-post">
									<header>
										<h3><a href="/firstprogram/">Write your First Program!</a></h3>
										<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
										<a href="#" class="author"><img src="/static/images/isamar.png" alt="" /></a>
									</header>
									<a href="/firstprogram/" class="image"><img src="/static/images/pic05.jpg" alt="" /></a>
								</article>
								<article class="mini-post">
									<header>
										<h3><a href="/welcometoscratch/">Welcome to Scratch!</a></h3>
										<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
										<a href="#" class="author"><img src="/static/images/isamar.png" alt="" /></a>
									</header>
									<a href="/welcometoscratch/" class="image"><img src="/static/images/welcometoscratchthumb.png" alt="" /></a>
								</article>
								<article class="mini-post">
									<header>
										<h3><a href="/histcomp/">History of Computing</a></h3>
										<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
										<a href="#" class="author"><img src="/static/images/audrey.jpg" alt="" /></a>
									</header>
									<a href="/histcomp/" class="image"><img src="/static/images/histcompthumb.png" alt="" /></a>
								</article>
								<article class="mini-post">
									<header>
										<h3><a href="/diginfo/">Digital Information</a></h3>
										<time class="published" datetime="2020-22-07">July 23nd, 2020</time>
										<a href="https://dylaniskandar.com" class="author"><img src="/static/images/avatardylan.png" alt="" /></a>
									</header>
									<a href="/diginfo/" class="image"><img src="/static/images/diginfothumb.png" alt=""/></a>
								</article>
									<article class="mini-post">
										<header>
											<h3><a href="/compandint/">Computers and the Internet</a></h3>
											<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
											<a href="https://dylaniskandar.com" class="author"><img src="/static/images/avatardylan.png" alt="" /></a>
										</header>
										<a href="/compandint/" class="image"><img src="/static/images/compandint70.png" alt="" /></a>
									</article>
								</li>
							</div>
						</section>

						<!-- Posts List -->						
						<section>
							<ul class="posts">
								<li>
									<article>
										<header>
											<h3><a href="/firstprogram/">Write your first Program!</a></h3>
											<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
										</header>
										<a href="/firstprogram/" class="image"><img src="/static/images/pic05.jpg" alt=""/></a>
									</article>
									<article>
										<header>
											<h3><a href="/welcometoscratch/">Welcome To Scratch</a></h3>
											<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
										</header>
										<a href="/welcometoscratch/" class="image"><img src="/static/images/welcometoscratchthumb.png" alt=""/></a>
									</article>
									<article>
										<header>
											<h3><a href="/histcomp/">History of Computing</a></h3>
											<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
										</header>
										<a href="/histcomp/" class="image"><img src="/static/images/histcompthumb.png" alt="" /></a>
									</article>
									
									<article>
										<header>
											<h3><a href="/diginfo/">Digital Information</a></h3>
											<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
										</header>
										<a href="/diginfo/" class="image"><img src="/static/images/diginfothumb.png" alt=""/></a>
									</article>
									<article>
										<header>
											<h3><a href="/compandint/">Computers and the Internet</a></h3>
											<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
										</header>
										<a href="/compandint/" class="image"><img src="/static/images/compandint70.png" alt=""/></a>
									</article>
								</li>
							</ul>
						</section>

						<!-- About -->
						<section>
							<h3>Contact us</h3>
							<form method="post" action="https://formspree.io/mpzyklqq">
								<div class="row gtr-uniform">
									<div class="col-6 col-12-xsmall">
										<input type="text" name="Name" id="demo-name" value="" placeholder="Name" />
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="email" name="Email" id="demo-email" value="" placeholder="Email" />
									</div>
									<div class="col-12">
										<select name="category" id="demo-category">
											<option value="">- Category -</option>
											<option value="student">Student</option>
											<option value="Parent">Parent</option>
											<option value="other">Other</option>
										</select>
									</div>
									<div class="col-12">
										<textarea name="Subject" id="demo-message" placeholder="Subject" rows="1"></textarea>
									</div>
									<div class="col-12">
										<textarea name="Message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Send Message" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
						<!-- Footer -->
							<section>
								<ul class="icons"></ul>
									<a href="mailto:info@mathisify.org" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; 2020 Mathisi-fy. </p>
							</section>
					</section>
			</div>
		<!-- Scripts -->
		
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>

{% endblock %}
