<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <html>
        <head>
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174077322-1"></script>
            <script>
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());
    
                  gtag('config', 'UA-174077322-1');
            </script>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
            <link rel="stylesheet" href="{% static 'css/main.css' %}" />
            <meta property="og:title" content="Mathisi-fy" />
            <meta property="og:image" content="/static/images/mlogo4.png" />
             <!-- Start of Async Drift Code -->
    <script>
        "use strict";
    
        !function() {
         var t = window.driftt = window.drift = window.driftt || [];
        if (!t.init) {
            if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
            t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
            t.factory = function(e) {
             return function() {
                var n = Array.prototype.slice.call(arguments);
                return n.unshift(e), t.push(n), t;
            };
            }, t.methods.forEach(function(e) {
             t[e] = t.factory(e);
         }), t.load = function(t) {
            var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
             o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
            var i = document.getElementsByTagName("script")[0];
             i.parentNode.insertBefore(o, i);
            };
         }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('c7yv5hz6yckb');
        </script>
        <!-- End of Async Drift Code -->
        </head>
    <body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">


        <!-- Main -->
        <div id="main">


            <form method="POST" class="form-signin">
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <input name="first_name" type="text" class="form-control" placeholder="First Name"><br>
                <input name="last_name" type="text" class="form-control" placeholder="Last Name"><br>
                <input name="username" type="text" class="form-control" placeholder="Username"><br>
                <input name="email" type="email" class="form-control" placeholder="Email"><br>
                <input name="password1" type="password" class="form-control" placeholder="Password"><br>
                <input name="password2" type="password" class="form-control" placeholder="Confirm Password"><br>
                <button type="submit">Register</button>
            </form>
            
            <div>
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            </div>

                <p>Already registered? <a href="/accounts/login/">Login here</a></p>
            <!-- Pagination -->


        </div>

        <!-- Sidebar -->
        <section id="sidebar">

            <!-- Intro -->
            <section id="intro">
                <a href="#" class="logo"><img src="/static/images/mlogo4.png" alt=""/></a>
                <header>
                    <h2>Mathisi-fy</h2>
                    <p>Empowering students around the world with knowledge</p>
                </header>
            </section>

            <!-- Mini Posts -->
            <section>
                <div class="mini-posts">

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="/compandint/">Computers and the Internet</a></h3>
                            <time class="published" datetime="2020-22-07">July 22nd, 2020</time>
                            <a href="https://dylaniskandar.com" class="author"><img src="/static/images/avatardylan.png"
                                                                                    alt=""/></a>
                        </header>
                        <a href="/compandint/" class="image"><img src="/static/images/pic04.jpg" alt=""/></a>
                    </article>


                </div>
            </section>

            <!-- Posts List -->
            <section>
                <ul class="posts">
                    <li>
                        <article>
                            <header>
                                <h3><a href="/compandint/">Computers and the Internet</a></h3>
                                <time class="published" datetime="2020-22-07">July 22nd, 2020</time>
                            </header>
                            <a href="/compandint/" class="image"><img src="/static/images/pic08.jpg" alt=""/></a>
                        </article>
                    </li>

                </ul>
            </section>

            <!-- About -->
            <section>
                <h3>Contact us</h3>
                <form method="post" action="https://formspree.io/mpzyklqq">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name"/>
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="email" name="email" id="demo-email" value="" placeholder="Email"/>
                        </div>
                        <div class="col-12">
                            <select name="category" id="demo-category">
                                <option value="">- Category -</option>
                                <option value="student">Student</option>
                                <option value="Parent">Parent</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <textarea name="subject" id="demo-message" placeholder="Subject" rows="1"></textarea>
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="demo-message" placeholder="Enter your message"
                                      rows="6"></textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Send Message"/></li>
                                <li><input type="reset" value="Reset"/></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>

            <!-- Footer -->
            <section>
                <ul class="icons"></ul>
                    <a href="mailto:info@mathisify.org" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; 2020 Mathisi-fy. </p>
            </section>

        </section>

    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    </body>
    </html>

{% endblock %}

