<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174077322-1"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'UA-174077322-1');
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<meta property="og:title" content="Mathisi-fy" />
		<meta property="og:image" content="/static/images/mlogo4.png" />
		 <!-- Start of Async Drift Code -->
		 <script>
			"use strict";
		
			!function() {
			 var t = window.driftt = window.drift = window.driftt || [];
			if (!t.init) {
				if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
				t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
				t.factory = function(e) {
				 return function() {
					var n = Array.prototype.slice.call(arguments);
					return n.unshift(e), t.push(n), t;
				};
				}, t.methods.forEach(function(e) {
				 t[e] = t.factory(e);
			 }), t.load = function(t) {
				var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
				 o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
				var i = document.getElementsByTagName("script")[0];
				 i.parentNode.insertBefore(o, i);
				};
			 }
			}();
			drift.SNIPPET_VERSION = '0.3.1';
			drift.load('c7yv5hz6yckb');
			</script>
			<!-- End of Async Drift Code -->
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

<!--
	Mathisi-fy Article Outline
	
	Chapter Zero (Computer Science Principles)
		- Computers and the Internet
	Chapter One (Scratch Fundementals)
		- Welcome to Scratch! 
-->
				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2>Computers and the Internet</h2>
										<p><a href="#">Chapter 1 : Computer Science Principles</a></p>
									</div>
									<div class="meta">
										<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
										<a href="https://dylaniskandar.com" class="author"><span class="name">Dylan Iskandar</span><img src="/static/images/avatardylan.png" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="/static/images/pic01.jpg" alt="" /></span>
								<p>(insert article here)</p>
								<footer>
									<ul class="stats">
										<li><a href="/chapterone/">Computer Science Principles</a></li>
										<li><a href="#" class="icon solid fa-eye">103.6k</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>

					</div>

				<!-- Footer -->
				<section>
					<ul class="icons"></ul>
						<a href="mailto:info@mathisify.org" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<p class="copyright">&copy; 2020 Mathisi-fy. </p>
				</section>

			</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

{% endblock %}
