{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" class="form-signin" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Profile</h1>
    {{ user_form }}
    <br>
    <button type="submit">Update</button>
</form>
<div>
    {% for message in messages %}
        <h3>{{ message }}</h3>
    {% endfor %}
</div>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
{% endblock %}