<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174077322-1"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'UA-174077322-1');
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<meta property="og:title" content="Mathisi-fy" />
		<meta property="og:image" content="/static/images/mlogo4.png" />
		 <!-- Start of Async Drift Code -->
		 <script>
			"use strict";
		
			!function() {
			 var t = window.driftt = window.drift = window.driftt || [];
			if (!t.init) {
				if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
				t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
				t.factory = function(e) {
				 return function() {
					var n = Array.prototype.slice.call(arguments);
					return n.unshift(e), t.push(n), t;
				};
				}, t.methods.forEach(function(e) {
				 t[e] = t.factory(e);
			 }), t.load = function(t) {
				var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
				 o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
				var i = document.getElementsByTagName("script")[0];
				 i.parentNode.insertBefore(o, i);
				};
			 }
			}();
			drift.SNIPPET_VERSION = '0.3.1';
			drift.load('c7yv5hz6yckb');
			</script>
			<!-- End of Async Drift Code -->
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">


				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2>Digital Information</h2>
										<p><a href="https://mathisify.org/chapterzero/">Chapter 0 : Computer Science Principles</a></p>
									</div>
									<div class="meta">
										<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
										<a href="https://dylaniskandar.com" class="author"><span class="name">Dylan Iskandar</span><img src="/static/images/avatardylan.png" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="/static/images/pic01.jpg" alt="" /></span>
								<p><p style="text-indent: 40px">Like humans, computers communicate with each other through specific languages. The data and information received is stored in ‘circuits’ and wires inside the computer itself. 
									These circuits and wires store and process all the information of the computer.</p>

									<p style="text-indent: 40px">Within these circuits and wires, there are switches are either on or off (1 or 0, Yes or No, True or False), or anything else with two options. 
										Each state of a wire is called a ‘bit”, the smallest piece of information a computer can store. 
										There are eight “bites” in a “byte”. With more bites, you can represent more complex information, such as a color or a sentence. </p>

									<p><b>How do computers store these bits and bytes?</b></p>

									Computers count different from the way that we do. We count with the decimal number system, with digits 0-9. 
									This is called base10, because each place value is weighted 10x the previous place value.
									Computers count with the binary number system, which is also known as base2. </p>

									<p>Unlike our 0-9 digits, base2 only has two digits : “0” and “1”. Each place value is weighted 2x the previous place value. </p>

									<p><b>Let's visualize it with four place digits.</b></p>

									<p style="text-indent: 40px">In the decimal system (from left to right) we have the 1000’s, 100’s, 10’s and 1’s place. 
										In the binary system, it’s the same concept, but we have the 8’s,4’s,2’s, and 1’s place. 
										Each number assigned to a column will be multiple by the “weight” of the column (multiples of 2) and added up for your final number.  
										For example, the number “2” is represented as “10” in the binary system. Each column is either “on” or “off”. 
										You are able to compute any number with this system. </p>

									<!--<div class="col-12"><span class="image right"><img src="/static/images/web2.png" alt="" /></span></div>	-->
										

										<p><b>What about movies, songs and books? How do computers store those types of data?</b></p>

										<p style="text-indent: 40px">Everything that you have seen on your computer can be stored in the binary number system, and they can be all represented using numbers (0’s and 1’s). 
										ASCII ("American Standard Code for Information Interchange) was one of the first standardized encodings (the process of converting one form of data to another). 
									Back in the day, people would use teleprinters to encode each letter of the alphabet (and special characters) in ASCII into binary, and store/process the data. (Jada's Image) </p>
									<p style="text-indent: 40px">Based on the ASCII encoding, what does this encoded string represent? <code>01000011 01000001 01000110 01000101</code></p>
</p>
								<footer>
									<ul class="stats">
										<li><a href="/chapterzero/">Computer Science Principles</a></li>
										<li><a class="icon solid fa-eye">103.6k</a></li>
										<p class="copyright">&copy; 2020 Mathisi-fy. </p>
									</ul>
										
								</footer>
							</article>

					</div>

				<!-- Footer -->
				

			</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

{% endblock %}
