<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174077322-1"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'UA-174077322-1');
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<meta property="og:title" content="Mathisi-fy" />
		<meta property="og:image" content="/static/images/mlogo4.png" />
		 <!-- Start of Async Drift Code -->
		 <script>
			"use strict";
		
			!function() {
			 var t = window.driftt = window.drift = window.driftt || [];
			if (!t.init) {
				if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
				t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
				t.factory = function(e) {
				 return function() {
					var n = Array.prototype.slice.call(arguments);
					return n.unshift(e), t.push(n), t;
				};
				}, t.methods.forEach(function(e) {
				 t[e] = t.factory(e);
			 }), t.load = function(t) {
				var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
				 o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
				var i = document.getElementsByTagName("script")[0];
				 i.parentNode.insertBefore(o, i);
				};
			 }
			}();
			drift.SNIPPET_VERSION = '0.3.1';
			drift.load('c7yv5hz6yckb');
			</script>
			<!-- End of Async Drift Code -->
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">


				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2>If-Statements in Scratch</h2>
										<p><a href="/chapterone/">Chapter 1 : Scratch Fundementals</a></p>
									</div>
									<div class="meta">
										<time class="published" datetime="2020-22-07">September 25th, 2020</time>
										<a href="#" class="author"><span class="name">Isamar Zhu</span><img src="/static/images/isamar.png" alt="" /></a>
									</div>
								</header>
								<!--<span class="image featured"><img src="/static/images/welcometoscratchthumb.png" alt="" /></span>-->
								<p><b>If-Statements</b></p>
								
                                <p><p style="text-indent: 40px">If-statements are used to make programs more efficient. 
                                    In this article, we will be defining and exploring the function of this concept.
                                     Log into your Scratch account and create a new project. We will use the simple project set up with one sprite.</p>

                                <div class="col-12"><span class="image left"><img src="/static/images/ifstate1.png" alt="" /></span></div>
									<p><b>What are If-Statements?</b></p>
                                        <p style="text-indent: 40px">If-statements are used to run code only under certain conditions. 
                                            The programmer sets a <b>condition</b>, which can either be true or false. 
                                            If the condition is true, the code within the if-statement will run. 
                                            An example of this in plain English is: <b>If</b> it is raining, <b>bring</b> an umbrella. 
                                            This concept can be extremely useful for programs that produce different results based on different circumstances. 
                                        </p>
                                        
									<p><b>Setting up the If-Statement</b></p>
										
                                             <p style="text-indent: 40px">Let’s demonstrate if-statements in Scratch. 
                                        Navigate to the Events section of the block palette, and place the “When ⚑ clicked” block into the script area. 
                                        This will be how most scripts are started, since the block defines where the code will start running when the green flag is clicked.</p>
                                        
                                             <p style="text-indent: 40px">Like the first program we wrote, we need a “forever” loop to make sure the code keeps running for the duration of the program. 
                                        Recall that the “forever” loop repeats only the included code inside the loop. 
                                        If we didn’t have the “forever” loop, the code after the flag block would only run once, which is too short of a program for our purposes.
                                                </p> 
                                                
                                                <p style="text-indent: 40px">Next, select “if < > then” block from the Control section of the block palette, and clip it inside the forever loop. 
                                        The if-then format means that if a given condition is true, then the code within the body of the if-statement will run. 
                                        The <b>body</b> of the if-statement is the code that is placed inside the if-then shell. Your code should look like this so far.
                                                </p>
                                                <div class="col-12"><span class="image right"><img src="/static/images/ifstate2.png" alt="" /></span></div>
                                    <p><b>Setting up the If-Statement</b></p>
                                         <p style="text-indent: 40px">Every if-statement needs a condition, which tells the program whether to run the body of the if-statement or not. 
                                         A condition evaluates to true or false, and if it is true, the code that makes up the body will run. 
                                            For example, the condition could be “the drink is hot” or “the given number is greater than 10”. 
                                            <div class="col-12"><span class="image left"><img src="/static/images/ifstate3.png" alt="" /></span></div>
                                            In our Scratch program, we will use a Sensing block as a condition. If the sensor is fulfilled, the body of the if-statement will run. 
                                            Drag a “key space pressed?” block into the empty space between “if” and “then”. 
                                            If the key space on your keyboard is pressed, then the code will run.
                                            </p>
                                            <div class="col-12"><span class="image right"><img src="/static/images/ifstate4.png" alt="" /></span></div>
                                    <p><b>Writing the body of the if-statement</b></p>
                                        <p style="text-indent: 40px">Finally, we need to write the code that will run while the space key is being pressed. 
                                            Drag a “move 10 steps” block inside the if-statement. 
                                            The sprite will now move 10 steps forward when you press the space key! 
                                            Test this out by pressing the green flag to start the program, and try pressing different keys. 
                                            Notice the sprite only moves when the condition (space key pressed) is true.</p>
                                            
                                    <p><b>Multiple if-statements</b></p>
                                        <p style="text-indent: 40px">Using multiple if-statements, we can write a pretty complicated program! 
                                            Observe the code below. The sprite will move right when the right arrow is pressed, left when the left arrow is pressed, and so on. 
                                            The “change x” and “change y” refer to the axis on which the sprite is moving. 
                                        </p>
										
										

								
								<footer>
									<ul class="stats">
										<li><a href="/chapterone/">Scratch Fundementals</a></li>
										{% for views in views %}
										<li><a href="#" class="icon solid fa-eye">{{views.ifstate}}</a></li>
										{% endfor %}
										
										<p class="copyright">&copy; 2020 Mathisi-fy. </p>
									</ul>
										
								</footer>
							</article>

					</div>
				

			</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>

{% endblock %}
