<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174077322-1"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'UA-174077322-1');
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<meta property="og:title" content="Mathisi-fy" />
		<meta property="og:image" content="/static/images/mlogo4.png" />
		 <!-- Start of Async Drift Code -->
		 <script>
			"use strict";
		
			!function() {
			 var t = window.driftt = window.drift = window.driftt || [];
			if (!t.init) {
				if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
				t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
				t.factory = function(e) {
				 return function() {
					var n = Array.prototype.slice.call(arguments);
					return n.unshift(e), t.push(n), t;
				};
				}, t.methods.forEach(function(e) {
				 t[e] = t.factory(e);
			 }), t.load = function(t) {
				var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
				 o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
				var i = document.getElementsByTagName("script")[0];
				 i.parentNode.insertBefore(o, i);
				};
			 }
			}();
			drift.SNIPPET_VERSION = '0.3.1';
			drift.load('c7yv5hz6yckb');
			</script>
			<!-- End of Async Drift Code -->
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">


				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2>Welcome To Scratch!</h2>
										<p><a href="/chapterone/">Chapter 1 : Scratch Fundementals</a></p>
									</div>
									<div class="meta">
										<time class="published" datetime="2020-22-07">July 22nd, 2020</time>
										<a href="#" class="author"><span class="name">Isamar Zhu</span><img src="/static/images/isamar.png" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="/static/images/pic05.jpg" alt="" /></span>
								<p><b>What is Scratch?</b></p>
								<div class="col-12"><span class="image right"><img src="/static/images/scratch0.jpg" alt="" /></span></div>	
								<p><p style="text-indent: 40px">Scratch is a website that allows users to create games and animations while introducing many basic concepts that are used often in programming, such as functions and loops. Scratch itself can also be considered a programming language.
									It’s especially fitted for beginners because it doesn’t focus much on syntax (coding grammar), but instead uses movable blocks which allows for easier understanding of how to code. </p>


										<p><b>How to Start Using Scratch</b></p>
										<p style="text-indent: 40px">First, go to the <a href="https://scratch.mit.edu/">Scratch</a> website <a href="https://scratch.mit.edu/">(https://scratch.mit.edu/)</a> and create an account. 
										Creating an account is recommended as it allows users to save their projects. Next, press the “Create” button in the toolbar at the top of the screen to create a new project. There are many different projects that can be created, such as animations, clicking games, or designing characters, but for this example, we are going to be making a simple dancing animation. 
</p>
										<p><b>Navigating the Interface</b></p>
										<div class="col-12"><span class="image left"><img src="/static/images/scratch1.png" alt="" /></span></div>	
									<p style="text-indent: 40px">Refer to the image on the left. Here are some important terms to know:
										<p><b>Toolbar:</b> The toolbar is used to manage the project. Here, the project can be saved, as well as restored to the last saved version. There are also many helpful tutorials that can be accessed using the toolbar.</p>
										<p><b>Block Palette:</b> The block palette contains the blocks needed to write code. There are many different types of blocks available for use, and each of them perform different functions. </p>
										<div class="col-12"><span class="image right"><img src="/static/images/scratch2.png" alt="" /></span></div>
										<p><b>Script Area:</b> The script area is where users can drag and stack blocks together, which forms scripts. Running the script runs the program. This is what forms the basis of your project.</p>
										<p><b>Blocks:</b> Blocks are the pieces that make up the program. They can be stacked together and moved around to create a program.</p>
										<p><b>Sprite:</b> The sprite is an object in the program that follows instructions that the scripts give. The yellow cat is the default sprite that is given, but it is possible to add new sprites!</p>
										<p><b>Sprites</b> Pane: The sprites pane is where users can add, delete, or edit sprites.
											
										
										

								
								<footer>
									<ul class="stats">
										<li><a href="/chapterone/">Scratch Fundementals</a></li>
										{% for views in views %}
										<li><a href="#" class="icon solid fa-eye">109</a></li>
										{% endfor %}
										
										<p class="copyright">&copy; 2020 Mathisi-fy. </p>
									</ul>
										
								</footer>
							</article>

					</div>
				

			</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>

{% endblock %}
